
@require "fullpage/jquery.fullpage.css"
@require "zoomIn"
@require "zoomOut"

$-page-main-color = #3C5098
$-page-fill-color = #E4CAA3

$-base-font-family = SourceHanSanSC-Light, $-base-font-family

font-face('SentyBrush', '../font/SentyBrush')
font-face('SentyWEN1215', '../font/SentyWEN1215')
font-face('SourceHanSanSC-Light', '../font/SourceHanSansSC-Light')

html,
body
    font-size: $-base-font-size
    font-family: $-base-font-family

h1,
h2
    font-style: normal
    font-weight: normal

#loading
    absolute: 0 0 0 0
    z-index: 10
    text-align: center
    visibility: visible
    clearfix()
    &.load-end
        visibility: hidden

.load-spinner
    $box-size = 256px
    absolute: 50% _ _ 50%
    size: em($box-size) em($box-size)
    margin: em(-($box-size / 2)) _ _ em(-($box-size / 2))

.load-left,
.load-right
    background: #fff
    width: 50%
    height: 100%
    transition: all .5s ease

.load-left
    float: left
.load-right
    float: right

.load-end
    .load-left
        animate('slideOutLeft', .5s)
    .load-right
        animate('slideOutRight', .5s)
    .load-spinner
        animation-name: zoomOut
        animation-duration: .5s

.section
    text-align: center
    a
        color: $-page-main-color
        text-decoration: none
    h1
        font-size: 2em
        line-height: 1.5

    h2
        font-size: 1.6em
        line-height: 1.5

    &.active
        .section-title
            animate('slideInDown', .5s)

.section-title
    $box-width = 176px
    $box-height = 70px
    absolute: 0 50% _ 50%
    size: $box-width $box-height
    margin-left: -($box-width / 2)
    overflow: hidden

        h1
            position: absolute
            margin: 0
            width: $box-width
            text-align: center
            font-size: em(30)
            line-height: em(30)
            color: #000

        .bg
            absolute: ($box-height - $box-width) _ _ _
            size: $box-width $box-width
            background: $-page-fill-color
            border-radius: px($box-width / 2)

.banner
    h1
        color: #fff
        font-family: SentyBrush
    h2
        color: $-page-fill-color

    &.load-end,
    &.active
        .logo
            animation-name: zoomIn
            animation-duration: 1s

.menu
    a
        color: #fff
        margin-left: em(16)
        &:first-child
            margin-left: 0
        &:hover
            color: $-page-fill-color

em-char()
    background: #E4CAA3
    color: #000

em-char-delay($delay, $i)
    transition-delay: .1s * $i + $delay

// em-chars
em-chars($delay, $nums...)
  for $num, $i in $nums
    span.char{$num}
        em-char()
        transition: all 0.5s ease
        em-char-delay($delay, $i)

.feature
    clearfix()

    .arrow
        absolute: 50% _ _ 50%
        $arrow-width = 22px
        $arrow-height = 42px
        width: $arrow-width
        height: $arrow-height
        margin-left: -($arrow-width / 2)
        margin-top: -($arrow-height * 3 / 2)

        i
            triangle right ($arrow-height/2) #ccc
            absolute: 0 10px 0 0
        em
            triangle right ($arrow-height/2) #fff
            absolute: 0 0 0 -4px

    &.active
        .feature-left,
        .feature-right
            animate('fadeInDown', .5s)

        .feature-left
            animation-delay: .5s
            .font-chars
                span
                    transition: all 0.5s ease 1s
                    color: #ccc
                em-chars(2.5, 1, 2, 4, 5, 6, 8, 9)

        .arrow
            animation-delay: 1.5s
            animate('rubberBand', .5s)

        .feature-right
            animation-delay: 2s

            .font-chars
                background: #f7f7f7
                em-chars(2.5, 1,2,3,4,5,6,7)

        .font-info
            animation-delay: 3.5s
            animate('slideInUp', .5s)

        .tags
            animation-delay: 4s
            animate('slideInUp', .5s)

        .feature-more
            animation-delay: 4.5s
            animate('slideInUp', .5s)

.feature-left,
.feature-right
    width: 50%

.feature-left
    float: left

    .font-body
        width: 300px
        padding-left: 30px

    .font-chars
        padding: 0

.feature-right
    float: right

    .font-chars
        span
            color: #f7f7f7

.font-body
    text-align: left
    width: 330px
    margin: 0 auto

.font-chars
    font-size: em(32)
    height: 120px
    padding: 0 15px
    p
        font-family: SentyWEN1215
        margin: 0
    span
        line-height: 1
        display: inline-block
        height: 40px
        vertical-align: middle
        margin-right: 1px

.font-meta
    color: #999999
    font-size: em(12)

.font-name
    font-size: em(16)
    color: #94764A

.tags
    img
        margin: 0 em(4) em(4) 0

.feature-more
    absolute: _ 50% em(64) 50%
    $width = 320
    width: em($width)
    margin-left: em($width / -2)
    text-align: center

.usage
    pre
        width: em(600)
        margin: 0 auto
        padding: 1em 1.5em
        text-align: left
        font-family: Consolas, Monaco, 'Andale Mono', monospace
        background: rgba($-page-fill-color, 0.3)

.terminal
    i,
    em
        font-style: normal
    i
        color: #94764A
    em
        background: rgba($-page-fill-color, 0.5)
        padding: em(2) em(4)

.app
    img
        display: block
        margin: em(32) auto 0

    .links
        margin: 0

    .down-btn
        display: inline-block
        padding: em((39 - 16) / 2) em(16)
        margin: em(16)
        background: $-page-main-color
        color: #fff

.github
    margin: em(50) 0 em(16) 0
    font-size: em(30)
    display: block

.star
.thanks,
.links,
.copyright
    margin: em(16) 0

.star
    margin: em(64) 0 em(48) 0
    .star-btn
        vertical-align: middle

.thanks,
.links,
.copyright
    color: #AAAAAA
    font-size: em(14)
